@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-height: 100vh;
}

body {
  color: rgb(63 63 70);
}

main {
  flex: 1;
}

.bg-jumbo {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.bg-jumbo::after {
  display: block;
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  background: inherit;
  background-color: rgba(0, 0, 0, .4);
  filter: blur(5px);
  z-index: 10;
}
